<div class="dropdown-header bg-trans-gradient d-flex justify-content-center align-items-center rounded-top mb-2">
    <h4 class="m-0 text-center color-white" id="panel-count-notification"></h4>
</div>
<ul class="nav nav-tabs nav-tabs-clean" role="tablist">
    <li class="nav-item">
        <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-messages" data-i18n="drpdwn.messages">Mensajes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-events" data-i18n="drpdwn.feeds">Eventos</a>
    </li>
    <!--otros menus

        <li class="nav-item">
            <a class="nav-link px-4 fs-md js-waves-on fw-500" data-toggle="tab" href="#tab-events" data-i18n="drpdwn.events">Eventos</a>
        </li>
    -->
</ul>
<div class="tab-content tab-notification">
    <div class="tab-pane active p-3 text-center">
        <h5 class="mt-4 pt-4 fw-500">
            <span class="d-block fa-3x pb-4 text-muted">
                <i class="ni ni-arrow-up text-gradient opacity-70"></i>
            </span> Select a tab above to activate
            <small class="mt-3 fs-b fw-400 text-muted">
                This blank page message helps protect your privacy, or you can show the first message here automatically through
                <a href="#">settings page</a>
            </small>
        </h5>
    </div>
    <div class="tab-pane" id="tab-messages" role="tabpanel">
        <div class="custom-scroll h-100">
            <ul class="notification" id="notification-list">
            </ul>
        </div>
    </div>
    <div class="tab-pane" id="tab-events" role="tabpanel">
        <div class="custom-scroll h-100">
            <ul class="notification" id="event-list">
            </ul>
        </div>
    </div>

</div>
<div class="py-2 px-3 bg-faded d-block rounded-bottom text-right border-faded border-bottom-0 border-right-0 border-left-0">
    <a href="#" class="fs-xs fw-500 ml-auto">ver todas las notificaciones</a>
</div>