@{
    ViewData["PageName"] = "aspnetcore_welcome";
    ViewData["Heading"] = "<i class='fal fa-hard-hat'></i> <span class='fw-300'>Productivo Operations</span>";
}

<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>
                    Introduccion @Settings.App
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <p>
                        Productivo Operations un producto de Productivo Groups S.A.S, experto en soluciones de excelencia operación y productividad.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <h2>Porque @Settings.App ?</h2>
                    <p>
                        La solucion mas completa del mercado para la pequeña y mediana empresa en temas de produccion, SST y alta productividad, basados en standards de talla mundial.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

