@model Productivo.Core.ViewModels.BioCareSurveyAnswers.BioCareSurveyAnswerCreateViewModel

<div class="text-center">
    <h1 class="display-4 colortitle-Productivo">Productivo Bio-Care - Encuesta Sintomas</h1>
    <p></p>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2></h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="col-sm-12 d-flex justify-content-center">
                            <div class="form-group">
                                <label asp-for="EmployeesId" class="control-label h4-Pandora"></label>
                                <input id="employeeId" class="form-control" onkeypress="return keyPressCheck(event)" />
                                <span id="document-error" class="text-danger"></span>
                                <br />
                                <img id="mic-state" src="~/Images/GrayPoint.png" class="profile-image rounded-circle" alt="">
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-10">
                                <div>
                                    <dl class="row">
                                        <dt class="col-sm-10 d-flex justify-content-lg-start">
                                            <label asp-for="Temperature" class="control-label h4-Pandora"></label>
                                        </dt>
                                        <dd class="col-sm-2">
                                            <input id="temperature" asp-for="Temperature" class="form-control" />
                                            <span asp-validation-for="Temperature" class="text-danger"></span>
                                        </dd>
                                        @foreach (var question in Model.Questions)
                                        {
                                            <dt class="col-sm-10 d-flex justify-content-lg-start">
                                                <label class="control-label h4-Pandora">@question.QuestionName</label>
                                            </dt>
                                            <dd class="col-sm-2">
                                                <input id="q-@question.Id" class="form-control" readonly/>
                                            </dd>
                                        }
                                    </dl>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {
    <script type="text/javascript">
        const questions = [];
        const responses = [];
        let index = 0;
        const question = document.getElementById('question');

        let recognition = new webkitSpeechRecognition();
        let speech = new SpeechSynthesisUtterance();
        let id = 0;
        let img = document.getElementById("mic-state");
        let msgError = document.getElementById("document-error");
        

        recognition.lang = 'es-ES';
        recognition.continuous = false;
        recognition.interimResult = false;
        //obtiene las preguntas
        $.getJSON(window.location.pathname.replace('/Index', '/Survey'), {},
            function (data) {
                $.each(data, function (index, rowv) {
                    console.log(rowv);
                    questions.push(rowv);
                })

                console.log(questions);
            }
        );

        //Definicion de eventos
        speech.onend = (event) => {
            recognition.start();
        }

        recognition.onresult = (event) => {
            const result = event.results;
            const textdata = result[0][0].transcript;
            let id = "q-" + questions[index].id;
            let response = document.getElementById(id);
            response.value = textdata;
            responses.push(questions[index].id + ":" + textdata);
        }

        recognition.onend = function () {
            img.src = img.src.replace("BluePoint", "GrayPoint");
            console.log('Reconocimiento finalizado');
            if (index < (questions.length - 1)) {
                index += 1;
                setTimeout("startRecognition()", 1000);
            } else {
                console.log([questions, responses]);
                sendAnswerData();
                location.reload();
            }

        };

        recognition.onstart = function () {
            console.log('Reconocimiento iniciado');
            img.src = img.src.replace("GrayPoint", "BluePoint");
        }


        //Funciones personalizadas para el desarrollo
        function keyPressCheck(e) {
            msgError.innerHTML = "";
            if (e.keyCode == 13) {
                let EmployeeId = document.getElementById("employeeId").value;
                $.getJSON(window.location.pathname.replace('/Index', '/CheckDocument'), { document: EmployeeId },
                    function (data) {
                        if (data === 'failed') {
                            msgError.innerHTML = "Documento no registrado.";
                        } else {
                             id = data;
                            console.log("ID encuesta :" + data);
                            startSurvey();
                        }
                    }
                );
                
            }
        }

        function startSurvey() {
            index = 0;
            responses.splice(0);
            console.log("Inicio Test encuesta sin contacto");
            startRecognition();
        }

        function startRecognition() {
            console.log("Inicia reconocimeinto");
            var dataQuestion = questions[index].questionName;
            speechText(dataQuestion);
        }

        function sendAnswerData() {
            
            let Temperature = document.getElementById("temperature").value;
            $.post(window.location.pathname.replace('/Index', '/Answers'), { employeesId: id, temperature: Temperature, data: responses },);
        }

        function speechText(dataText) {
            console.log('Speech : ' + dataText);
            speech.text = dataText;
            speech.volume = 1;
            speech.rate = 1;
            speech.pich = 1;
            window.speechSynthesis.speak(speech);
        }


    </script>
}