.h1-Productivo {
    color: white;
}

.h1-Productivo-Black {
    color: black;
}

.h2-Productivo {
    color: white;
}

.h3-Productivo {
    color: white;
}

.h3-Productivo-Black {
    color: black;
}

.h3-Productivo-Bold {
    color: black;
    font-weight: bold;
}

.h4-Productivo-Bold-Blue {
    color: darkblue;
    font-weight: bold;
}

.h4-Productivo {
    color: black;
}

.h4-Productivo-White {
    color: white;
}

.h3-Productivo-White {
    color: white;
}

.h3-Productivo-White-2 {
    color: white;
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 11px;
    font-weight: 300;
}

.h3-Productivo-Produccion {
    color: darkorange;
}

.h3-Productivo-Terrestre {
    color: forestgreen;
}

.h3-Productivo-Puerto {
    color: red;
}

.h3-Productivo-Deposito {
    color: deeppink;
}

.h3-Productivo-Camino {
    color: darkblue;
}

.h3-Productivo-Programado {
    color: darkblue;
}

.h3-Productivo-Retrazado {
    color: red;
}

.h3-Productivo-Other {
    color: darkslateblue;
}

.copyright-Productivo {
    color: white;
}

.colortitle-Productivo {
    color: white;
}

.colorcard-Productivo {
    background: rgba(25, 28, 81, 0.09);
}

.h3-Productivo-Titulo-Blue-2 {
    color: darkblue;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 300;
}

.h4-Productivo-Titulo-Blue-2 {
    color: darkblue;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
}